---

---

<nav>
    <div class="container">
        <div class="row">
            <div class="col-12 logo-top">
                <a href="/#top"><img src="/images/jade-logo.svg" width="100px" alt="" /></a>
            </div>
        </div>
    </div>
</nav>

<style lang="scss">
    @use '../scss/variables' as *;

    nav {
        padding: 10px 0;
        position: sticky;
        top: 0;
        width: 100%;
        background-image: url("/images/back.png");
        background-size: 100px;
        box-shadow: 0 4px 8px rgb(58 94 106);
        z-index: 10;
        position: relative;

        @media screen and (width < $jade-minimum-width){
            position: fixed;
        }

        .logo-top {
            text-align: center;
            @media screen and (width < $jade-minimum-width){
                text-align: center;
            }
        }
    }
</style>