---

---

<nav>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-2">
                <a href="/#top"><img src="/images/jade-logo.svg" width="100px" alt="" /></a>
            </div>
            <div class="col-lg-10 d-md-none d-lg-block">
                <ul class="menu">
                    <li><a href="/#top">Inicio</a></li>
                    <li><a href="/#services-section">Servicios</a></li>
                    <li><a href="/#story-section">Historia</a></li>
                    <li><a href="/#jade-section">Nosotros</a></li>
                    <li><a href="/#contact-section">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<style lang="scss">
    nav {
        padding: 10px 0;
        position: sticky;
        top: 0;
        width: 100%;
        background-image: url("/images/back.png");
        background-size: 100px;
        box-shadow: 0 4px 8px rgb(58 94 106);
        z-index: 10;

        .menu {
            list-style: none;
            display: flex;
            gap: 20px;
            justify-content: flex-end;
            align-items: baseline;
            margin-top: 22px;

            li {
                a {
                    text-transform: uppercase;
                    font-weight: 600;
                }
            }
        }
    }
</style>