---

---
<section id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-2">
                <h2>Contacto</h2>
            </div>
            <div class="col-12 col-lg-4" data-aos="fade-right">
                <h3>Conecta con nosotros</h3>
                <p>Estamos aquí para hacer realidad tu visión. Cada mensaje es el comienzo de una experiencia extraordinaria. Contáctame para concretar una cita y me cuentes tus ideas para tu evento.</p>
                <p>Tu momento especial comienza con un mensaje. ✨</p>
                <ul>
                    <li>Email: <a href="mailto:hola@jadesocialagency.com">hola@jadesocialagency.com</a></li>
                    <li>WhatsApp: <a href="https://wa.link/x8edhw" target="_blank">844 427 3795</a></li>
                    <li>Instagram: <a href="https://vntinv.com/E7fMsI" target="_blank">@jade_social_agency</a></li>
                    <li>Facebook: <a href="https://vntinv.com/3Kqk4v" target="_blank">@JadeSocialAgency</a></li>
                    <li>TikTok: <a href="https://vntinv.com/VniT0S" target="_blank">@jadesocialagency</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-4" data-aos="fade-left">
                <div class="serv-image mensaje"></div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    #contact-section {
        ul {
            list-style: none;
            padding: 0;
            margin-top: 20px;

            li {
                line-height: 2;
            }
        }

        .mensaje {
            display: block;
            width: 100%;
            height: 300px;
            background-color: #313131;
            border-radius: 30px;
            background-size: cover;
            background-position: top right;
            background-repeat: no-repeat;
            background-image: url("/images/mensaje.webp");
            border-bottom-left-radius: 0;
        }
    }
</style>