---

---
<section id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-2">
                <h2>Contacto</h2>
            </div>
            <div class="col-12 col-lg-4">
                <h3>Conecta con nosotros</h3>
                <p>Estamos aquí para hacer realidad tu visión. Cada mensaje es el comienzo de una experiencia extraordinaria. Contáctame para concretar una cita y me cuentes tus ideas para tu evento.</p>
                <p>Tu momento especial comienza con un mensaje. ✨</p>
                <ul>
                    <li>Email: <a href="#">hola@jadesocialagency.com</a></li>
                    <li>WhatsApp: <a href="#">844 999 9999</a></li>
                    <li>Instagram: <a href="#">@jadesocialagency</a></li>
                    <li>Facebook: <a href="#">@jadesocialagency</a></li>
                    <li>TikTok: <a href="#">@jadesocialagency</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                Imagen
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    #contact-section {
        ul {
            list-style: none;
            padding: 0;
            margin-top: 20px;

            li {
                line-height: 2;
            }
        }
    }
</style>