---

---
<header id="top">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-5 offset-lg-1">
                <div class="hero-text">
                    <small>Jade Social Agency</small>
                    <h1>Donde la exclusividad<br />se une al detalle</h1>
                    <h6>Coordinación de eventos sociales, invitaciones y tarjetería social, floristeria y decoración minimalista y charcutería de lujo.</h6>
                </div>
            </div>
            <div class="col-12 col-lg-6 text-center hero-decoration">
                <img src="/images/figuras.webp" alt="" />
                <div class="contact-data">
                    <a href="mailto:hola@jadesocialagency.com">hola@jadesocialagency.com</a><br />
                    <a href="https://wa.link/x8edhw" target="_blank">844 427 3795</a>
                </div>
            </div>
        </div>
    </div>
</header>

<style lang="scss">
    @use '../scss/variables' as *;
    
    header {
        padding: 140px 0 90px;

        @media screen and (width < $jade-minimum-width){
            padding: 90px 0 60px;
        }

        .hero-text {
            margin-top: 50%;
            transform: translateY(-50%);

            small {
                font-family: $jade-font-sans-serif;
                font-weight: 600;
                color: $jade-color-tormenta;
            }

            h1 {
                font-size: 4rem;
                font-family: $jade-font-serif;
                color: $jade-color-grullo;
                line-height: 0.95;
                margin-bottom: 20px;
                font-weight: 400;
                font-style: italic;
            }

            h6 {
                font-size: 1rem;
                color: rgb(255 255 255 / 0.6);
            }
        }
        
        .hero-decoration {
            position: relative;

            img {
                filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.4));
            }

            .contact-data {
                text-align: right;
                position: absolute;
                right: 10px;

                a {
                    font-size: 1rem;
                }

                &::before {
                    content: "";
                    display: block;
                    width: 30px;
                    height: 1px;
                    background-color: $jade-color-grullo;
                    position: absolute;
                    right: 0;
                    top: -10px;
                }
            }
        }
    }
</style>