---

---
<section id="jade-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-2">
                <h2>Nosotros</h2>
            </div>
            <div class="col-12 col-lg-4">
                Misión
            </div>
            <div class="col-12 col-lg-4">
                Visión
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                Valores
                <div class="row">
                    <div class="col-12 col-lg-6">Columna 1</div>
                    <div class="col-12 col-lg-6">Columna 2</div>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    #jade-section {
        
    }
</style>