---

---
<section id="services-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-2">
                <h2>Servicios</h2>
            </div>
            <div class="col-12 col-lg-8">
                <div class="servicios">
                    <div class="servicio" data-aos="fade-right">
                        <div class="serv-image invitaciones"></div>
                        <div class="serv-title">
                            <h4>Invitaciones y tarjetería social</h4>
                        </div>
                        <div class="serv-text">
                            <p>Cada invitación es el primer capítulo de tu historia. Con papel, creatividad y dedicación, transformamos tus sueños en el primer vistazo de tu momento especial. Más que una tarjeta, creamos la primera impresión de tu celebración, donde cada detalle está cuidadosamente pensado para cautivar a tus invitados y anunciar la magia que está por venir.</p>
                        </div>
                    </div>
                    <div class="servicio" data-aos="fade-left">
                        <div class="serv-image coordinacion"></div>
                        <div class="serv-title">
                            <h4>Coordinación de eventos sociales</h4>
                        </div>
                        <div class="serv-text">
                            <p>Convertimos tus ideas en realidad y tus sueños en momentos tangibles. Como directores de una sinfonía perfecta, orquestamos cada detalle de tu celebración para que tú solo tengas que preocuparte por disfrutar. Tu visión es nuestra inspiración, y tu tranquilidad, nuestra prioridad. Dejamos que la magia suceda mientras nosotros nos encargamos de todo.</p>
                        </div>
                    </div>
                    <div class="servicio" data-aos="fade-right">
                        <div class="serv-image decoracion"></div>
                        <div class="serv-title">
                            <h4>Floristería y decoración minimalista</h4>
                        </div>
                        <div class="serv-text">
                            <p>En cada flor y en cada espacio vacío, encontramos la oportunidad de crear belleza. Nuestra filosofía minimalista se fusiona con la naturaleza para crear ambientes que respiran elegancia. Cada arreglo floral cuenta una historia, cada rincón decorado transmite una emoción, porque creemos que la verdadera belleza reside en los detalles sutiles y en la simplicidad refinada.</p>
                        </div>
                    </div>
                    <div class="servicio" data-aos="fade-left">
                        <div class="serv-image charcuteria"></div>
                        <div class="serv-title">
                            <h4>Charcutería de lujo</h4>
                        </div>
                        <div class="serv-text">
                            <p>El arte de deleitar los sentidos se materializa en nuestras tablas de charcutería. Cada selección es una obra maestra culinaria donde los sabores, texturas y presentación se entrelazan en perfecta armonía. No solo ofrecemos manjares; creamos experiencias gastronómicas que elevan cada momento a un nivel extraordinario. Porque el buen gusto se aprecia en cada detalle.</p>
                        </div>
                    </div>
                    <div class="servicio" data-aos="fade-right">
                        <div class="serv-image branding"></div>
                        <div class="serv-title">
                            <h4>Branding para Eventos Sociales</h4>
                        </div>
                        <div class="serv-text">
                            <p>El branding para eventos sociales es un servicio especializado que crea y desarrolla una identidad visual coherente y memorable para celebraciones personales como bodas, cumpleaños, baby showers, aniversarios y graduaciones. Este servicio es ideal para quienes buscan una celebración coherente, única y memorablemente personal que refleje su historia, personalidad y estilo.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    @use '../scss/variables' as *;

    #services-section {
        .servicios {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 40px;
            column-gap: 30px;

            @media screen and (width < $jade-minimum-width){
                grid-template-columns: 1fr;
                margin-top: 40px;
            }

            .servicio {
                display: flex;
                flex-direction: column;
                gap: 20px;

                .serv-image {
                    display: block;
                    width: 100%;
                    height: 260px;
                    background-color: #313131;
                    border-radius: $jade-border-radius;
                    background-size: cover;
                    background-repeat: no-repeat;

                    &.invitaciones {
                        background-image: url("/images/invitaciones.webp");
                    }

                    &.coordinacion {
                        background-image: url("/images/coordinaciones.webp");
                    }

                    &.decoracion {
                        background-image: url("/images/decoracion.webp");
                    }

                    &.charcuteria {
                        background-image: url("/images/charcuteria.webp");
                    }

                    &.branding {
                        background-image: url("/images/branding.webp");
                    }
                }
            }
        }
    }
</style>