---

---
<section id="story-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-2">
                <h2>Historia</h2>
            </div>
            <div class="col-12 col-lg-8">
                <h3>El arte de crear momentos inolvidables</h3>

                <div class="story-space">
                    <div class="image-story">Imagen</div>
                    <div class="story-text">
                        <p>Todo comenzó en 2004 en Saltillo, Coahuila, con la creación artesanal de invitaciones para familia y amigos. La pasión por el diseño y la atención al detalle nos llevó a expandir horizontes en 2009, incorporando la coordinación de eventos sociales a nuestros servicios.</p>
                        <p>El viaje nos llevó hasta Tijuana, donde nuestras creaciones trascendieron fronteras, llegando a diferentes ciudades de Estados Unidos, países de Europa y Latinoamérica. En 2016, innovamos al introducir invitaciones digitales, adaptándonos a las nuevas tendencias sin perder nuestra esencia artesanal.</p>
                        <p>Hoy, de regreso a nuestras raíces coahuilenses, Jade Social Agency se ha transformado en un estudio integral de diseño de experiencias. A nuestros servicios tradicionales de invitaciones y coordinación de eventos, hemos sumado floristería, decoración minimalista y charcutería de lujo.</p>
                        <p>Creemos firmemente que una invitación es el primer capítulo de una historia especial, y cada elemento que creamos es parte de una experiencia única. Desde nuestro cuartel general en Coahuila, seguimos llevando exclusividad y elegancia a cada rincón de México, donde cada evento, cada invitación y cada detalle está diseñado pensando solo en ti.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    #story-section {
        
    }
</style>