---

---
<section id="timeline-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="row">
                    <div class="time-event">
                        <div class="time-item">
                            <div class="year" data-aos="fade-right">2004</div>
                            <div class="event" data-aos="fade-left">Iniciamos con diseño e impresión de invitaciones exclusivas</div>
                        </div>
                        <div class="time-item">
                            <div class="year" data-aos="fade-right">2009</div>
                            <div class="event" data-aos="fade-left">Expandimos servicios a coordinación de eventos sociales</div>
                        </div>
                        <div class="time-item">
                            <div class="year" data-aos="fade-right">2016</div>
                            <div class="event" data-aos="fade-left">Innovamos con invitaciones digitales personalizadas</div>
                        </div>
                        <div class="time-item">
                            <div class="year" data-aos="fade-right">2024</div>
                            <div class="event" data-aos="fade-left">Incorporamos servicios de floristería, decoración minimalista y charcutería de lujo</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    @use '../scss/variables' as *;

    #timeline-section {
        .time-event {
            display: flex;
            flex-direction: column;

            .time-item {
                display: flex;
                align-items: center;
                gap: 20px;

                @media screen and (width < $jade-minimum-width){
                    flex-direction: column;
                    text-align: center;
                }

                .year {
                    font-family: $jade-font-serif;
                    font-size: 9rem;
                    font-weight: 900;
                    color: $jade-color-grullo;
                }
                .event {
                    font-family: $jade-font-serif;
                    font-size: 1.8rem;
                    font-style: italic;
                    font-weight: 300;
                    line-height: 1.1;
                    color: $jade-color-tormenta;
                }
            }
        }
    }
</style>