---

---
<section id="timeline-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="row">
                    <div class="time-event">
                        <div class="time-item">
                            <div class="year">2004</div>
                            <div class="event">Iniciamos con diseño e impresión de invitaciones exclusivas</div>
                        </div>
                        <div class="time-item">
                            <div class="year">2009</div>
                            <div class="event">Expandimos servicios a coordinación de eventos sociales</div>
                        </div>
                        <div class="time-item">
                            <div class="year">2016</div>
                            <div class="event">Innovamos con invitaciones digitales personalizadas</div>
                        </div>
                        <div class="time-item">
                            <div class="year">2024</div>
                            <div class="event">Incorporamos servicios de floristería, decoración minimalista y charcutería de lujo</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
    #timeline-section {
        .time-event {
            display: flex;
            flex-direction: column;

            .time-item {
                display: flex;

                .year {
                    font-family: "Emberly", serif;
                    font-size: 9rem;
                    color: var(--jade-grullo-color);
                }
                .event {
                    font-family: "Emberly", serif;
                    font-size: 2.25rem;
                    font-style: italic;
                    line-height: 1.1;
                    color: var(--jade-tormenta-color);
                }
            }
        }
    }
</style>