@use './variables' as *;

* {
    box-sizing: border-box;
    font-family: $jade-font-sans-serif;
    font-size: 14px;
    transition: all ease-in-out 0.4s;
}

body {
    background-color: $jade-color-electric-blue;
    color: rgb(255 255 255);
    position: relative;
    background-image: url("/images/back.png");
    background-size: 100px;
    scroll-behavior: smooth;

    .j-back {
        width: 380px;
        height: 610px;
        position: absolute;
        background-image: url("/images/bg-j.webp");
        background-size: cover;
        background-repeat: no-repeat;
        top: -80px;
        left: 56%;

        @media screen and (width < $jade-minimum-width){
            width: 100%;
            top: 80px;
            left: 0;
            background-size: contain;
            background-position: center;
        }
    }

    section {
        padding: 90px 0;
        overflow: hidden;

        @media screen and (width < $jade-minimum-width){
            padding: 60px 20px;
        }
    }

    footer {
        @extend section;
    }

    header {
        @extend section;
    }
}

a {
    text-decoration: none;
    color: $jade-color-grullo;
}

h2 {
    color: $jade-color-tormenta;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 600;

    &::after {
        content: "";
        display: block;
        width: 80px;
        height: 3px;
        background-color: $jade-color-grullo;
        margin-top: 10px;
    }
}

h3 {
    font-family: $jade-font-serif;
    font-style: italic;
    font-weight: 400;
    font-optical-sizing: 2rem;
    font-size: 2.25rem;
    color: $jade-color-grullo;
}

h4 {
    color: $jade-color-tormenta;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}
