$jade-color-electric-blue: #4A7177;
$jade-color-grullo: #A4A593;
$jade-color-bronce: #A78D5C;
$jade-color-tormenta: #DFCCC5;

$jade-font-serif: "Times New Roman", serif;
$jade-font-sans-serif: "Avenir Next", sans-serif;

$jade-border-radius: 30px;
$jade-minimum-width: 56.25rem;